html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END CSS RESET*/

:root {
	--apple: #D74452;
	--teal: #2D838D;
	--beige: #DAD3B7;
	--orange: #DB9F34;
	--dark-orange: #DB8E36;
	--white: #fff;
	--black: #000;
}
body {
	width: 100vw;
	font-family: 'Comfortaa-Light', sans-serif;
	background-color: var(--white);
}
h2, h3, h4, h5, h6, p {
	font-family: 'Comfortaa', sans-serif;
	color: var(--black);
}
h2 {
	padding-top: 35px;
	font-family: 'Comfortaa', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 12vw;
	max-width: 90%;
	margin: auto;
	padding: 15px;
	color: var(--black);
}
header {
	background-color: var(--white);
}
h1 {
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	font-size: 10vw;
	max-width: 60%;
	display: block;
	line-height: 50px;
	padding: 10px;
	margin-top: 30px;
	color: var(--black);
	float: right;
	margin-right: 10%;
	margin-bottom: -50px;
	z-index: 2;
}
.skip {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#About {
	margin-top: 50px;
	border-color: var(--apple);
}
img {
	object-fit: cover;
	height: auto;
	max-width: 100%;
	z-index: 1;
}
header h2 {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 12vw;
	max-width: 90%;
	padding: 15px;
	color: var(--black);
}
#Claire {	
	display: block;
	object-fit: cover;
	width: 60vw;
	height: auto;
	z-index: 1;
	border: 10px solid var(--black);
	margin: auto;
}
blockquote {
	font-family: 'Comfortaa', sans-serif;
	color: var(--black);
	font-size: 20px;
	max-width: 90%;
	width: 80vw;
	padding: 25px;
	text-align: center;
	margin: auto;
	line-height: 120%;
}
#Books {
	background-color: rgba(219,159,52,0.7);
	padding-bottom: 25px;
}
#Books img {
	filter: drop-shadow(8px 8px 12px var(--black) );
}
figure img {
	width: 300px;
	border-width: 15px;
	margin: auto;
	display: block;
	padding: 25px 0px;
}
#Books h3 {
	text-align: center;
	font-size: 8vw;
	padding: 25px;
	font-weight: 500;
}
figcaption {
	font-family: 'Comfortaa', sans-serif;
	color: var(--black);
	font-size: 18px;
	max-width: fit-content;
	width: 80vw;
	padding: 25px;
	text-align: center;
	margin: auto;
	line-height: 110%;
}
figure p {
	font-family: 'Comfortaa', sans-serif;
	color: var(--black);
	font-size: 5vw;
	max-width: fit-content;
	padding: 5px;
	text-align: center;
	margin: auto;
}
#Events {
	background-color: var(--white);
	margin-left: 20px;
}
#Events section {
	margin: 25px;
}
#Events h3 {
	font-size: 22px;
	max-width: 90%;
	font-weight: 700;
}
datetime, time, address, #Events p {
	font-family: 'Comfortaa';
	color: var(--black);
	font-size: 18px;
	max-width: fit-content;
	line-height: 1.5em;
}
button {
	font-family: 'Comfortaa', sans-serif;
	font-size: 18px;
	max-width: fit-content;
	line-height: 1.5;
	padding: 10px 45px 10px 45px;
	width: 200px;
	background-color: var(--white);
	border: 3px solid var(--black);
	margin: auto;
	margin-top: 15px;
}
button:link {
	background-color: var(--white);
}
button:visited {
	background-color: rgba(215,68,82,0.4);
}
button:hover {
	background-color: rgba(215,68,82,0.6);
}
button:active {
	background-color: rgba(215,68,82,0.8);
}
.line {
	height: 2px;
	background: lightgrey;
	width: 80vw;
	margin: auto;
	margin-top: 15px;
}
#last {
	opacity: 0;
}
aside {
	background-color: rgba(45,131,141,0.7);
	padding: 25px 0px;
}
form {
	display: block;
	margin: auto;
	padding: 30px;
}
label {
	font-size: 1.8rem;
	max-width: fit-content;
	line-height: 1.8;
}
input {
	width: 100%;
	height: 50px;
	border: 3px solid var(--black);
}
input[type=text]:focus {
	border: 4px solid var(--black);
	border-color: var(--orange);
}
.button {
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	background-color: var(--apple);
	padding: 15px;
	border: 2px solid var(--apple);
	color: var(--white);
	width: 50%;
	margin: 20px 25%;
	margin-top: 20px;
	font-size: 1.6rem;
	max-width: fit-content;
	cursor: pointer;
	text-transform: uppercase;
	filter: drop-shadow(1px 1px 3px black);
}
.button a:hover {
	background-color: var(--white);
	color: var(--apple);
}
a:hover {
	background-color: var(--white);
	color: var(--apple);
}
a:active {
	background-color: var(--dark-orange);
	color: var(--white);
	border: 2px solid var(--dark-orange);
}
a:visited {
	background-color: var(--apple);
	color: var(--black);
}
placeholder {
	font-size: 1.4rem;
	max-width: fit-content;
	padding-left: 20px;
}
footer {
	padding-left: 10%;
	padding-right: 10%;
}
footer h2 {
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	font-size: 10vw;
	max-width: fit-content;
	display: block;
	line-height: 50px;
	padding: 10px;
	color: var(--black);
	margin: auto;
	padding-top: 50px;
	padding-bottom: 20px;
}
small {
	font-family: 'Comfortaa', sans-serif;
	color: var(--black);
	font-size: 18px;
	max-width: 80%;
	font-stretch: condensed;
	padding: 20px;
	text-align: center;
	margin: auto;
	margin-top: 5px;
	white-space: normal;
}
#SocialMedia {
	display: block;
	margin: auto;
	margin-left: 20%;
}
.svg-container {
	display: inline-block;
	position: relative;
	width: 20%;
	padding-bottom: 20%; 
	vertical-align: middle; 
	overflow: hidden;
	margin: auto;
	padding-top: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
object {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
caption {
	display: none;
}
table {
	margin: auto;
	width: 90%;
	padding-bottom: 20px;
}
th {
	font-size: 22px;
	max-width: fit-content;
	font-weight: 700;
}
footer a {
	text-decoration: none;
	color: var(--black);
}
td {
	text-align: center;
	font-size: 18px;
	max-width: max-content;
	line-height: 175%;
	vertical-align: middle;
	padding: 5px;
}
footer {
	padding-bottom: 20px;
}
footer section {
	width: 100vw;
	height: 50px;
	margin: auto;
	margin-top: 50px;
	margin-left: 20%;
}
footer section a {
	display: inline-block;
	font-size: 18px;
	max-width: max-content;
	font-weight: 100;
	padding: 15px 0px;
	padding-bottom: 10px;
	margin: auto;
	text-transform: uppercase;
	width: 34vw;
	text-align: center;
	margin-left: 5%;
}
footer section a:hover {
	color: var(--teal);
}
footer section a:visited {
	background-color: none;
	color: var(--apple);
}
footer section a:active {
	color: var(--black);
}
footer section small {
	display: block;
	font-size: 18px;
	max-width: 80%;
	margin: 0;
	padding: 5px;
	text-transform: uppercase;
	line-height: 1.4;
	width: 60%;
	white-space: pre;
}
footer h3 {
	visibility: hidden;
}

/*BEGIN FORMATTING FOR SMALL SCREENS*/
@media screen and (max-width:767px) {

	#menuToggle {
		display: block;
		position: relative;
		top: 50px;
		left: 50px;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
	}
	#menuToggle a {
		text-decoration: none;
		color: #232323;
		transition: color 0.3s ease;
	}
	#menuToggle a:hover {
		color: var(--apple);
	}
	#menuToggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0; 
		z-index: 2; 
		-webkit-touch-callout: none;
	}
	#menuToggle span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: var(--black);
		border-radius: 3px;
		z-index: 2;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					opacity 0.55s ease;
	}
	#menuToggle span:first-child {
		transform-origin: 0% 0%;
	}
	#menuToggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}
	#menuToggle input:checked ~ span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: var(--black);
	}
	#menuToggle input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}
	#menuToggle input:checked ~ span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}
	#menu {
		position: absolute;
		width: 300px;
		margin: -100px 0 0 -50px;
		padding: 50px;
		padding-top: 125px;
		background: var(--apple);
		list-style-type: none;
		-webkit-font-smoothing: antialiased;  
		transform-origin: 0% 0%;
		transform: translate(-100%, 0);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	#menu li {
		padding: 10px 0;
		font-size: 36px;
		max-width: fit-content;
	}
	#menu li:link {
		color: var(--black);
	}
	#menu li:visited {
		color: var(--dark-orange);
	}
	#menu li:hover {
		color: var(--orange);
	}
	#menu li:active {
		color: var(--orange);
		background-color: var(--apple);
	}
	#menuToggle input:checked ~ ul {
	transform: none;
	}
}
/*END STYLES FOR SMALL SCREENS*/

/*BEGIN STYLES FOR MEDIUM SCREENS*/
@media screen and (min-width:768px) and (max-width:1023px) {
	#menuToggle input {
		width: 0px;
	}
	header {
		background-image: url(images/hero_medium.png);
		background-color: var(--white);
		background-repeat: no-repeat;
		height: 700px;
		width: auto;
		background-size: contain;
		box-shadow: inset 0 0 0 50vw rgba(255, 255, 255, 0.6)
	}
	#Claire {
		display: block;
		visibility: visible;
		width: 20vw;
		float: left;
		margin-left: 30px;
		filter: drop-shadow(10px 10px 30px white);
	}
	h1 {
		float: left;
		font-size: 8.6vw;
		max-width: 60%;
		z-index: 3;
		text-shadow: -3px 4px 32px rgba(255, 255, 255, 0.9) ; 
		-webkit-text-shadow: -3px 4px 32px rgba(255, 255, 255, 0.9) ; 
		-moz-text-shadow: -3px 4px 32px rgba(255, 255, 255, 0.9) ; 
	}
	#menu ul {
		list-style-type: none;
		margin-right: 0;
		padding: 0;
		overflow: hidden;
	}
	#menu a {
		color: var(--white);
		text-align: center;
		padding: 15px 44px;
		text-decoration: none;
		background-color: var(--apple);
		float: right;
		margin: 2px;
		margin-top: -10px;
		filter: drop-shadow(1px 1px 1px var(--black));
	}
	#menu a:link {
		color: var(--white);
	}
	#menu a:hover {
		background-color: var(--teal);
	}
	#menu a:visited {
		background-color: var(--apple);
	}
	#menu a:active {
		background-color: var(--dark-orange);
	}
	#menu a:first-child {
		display: none;
	}
	#About {
		display: none;
		margin-top: 25px;
	}
	h2 {
		font-size: 7.5vw;
		max-width: 90%;
	}
	header h2 {
		display: block;
		margin: auto;
		font-size: 7.5vw;
		margin-top: 70px;
		text-shadow: -3px 4px 32px rgba(255, 255, 255, 0.9) ; 
		-webkit-text-shadow: -3px 4px 32px rgba(255, 255, 255, 0.9) ; 
		-moz-text-shadow: -3px 4px 32px rgba(255, 255, 255, 0.9) ; 
	}
	blockquote {
		font-size: 20px;
		max-width: fit-content;
		float: right;
		width: 65%;
		margin-top: 40px;
	}
	header blockquote {
		text-shadow: -3px 4px 32px rgba(255, 255, 255, 0.9) ; 
		-webkit-text-shadow: -3px 4px 32px rgba(255, 255, 255, 0.9) ; 
		-moz-text-shadow: -3px 4px 32px rgba(255, 255, 255, 0.9) ; 
	}
	#Books {
		background-color: var(--white);
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 10px;
		grid-auto-flow: row;
		align-items: start;
	}
	#Books h2 {
		grid-column: 1 / 3;
	}
	#Books blockquote {
		grid-column: 1 / 3;
		font-size: 20px;
		max-width: fit-content;
	}
	h3 {
		font-size: 2vw;
		max-width: fit-content;
	}
	figcaption {
		font-size: 18px;
		max-width: fit-content;
		width: auto;
		line-height: 150%;
	}
	#SillySpace h3 {
		padding-left: 35px;
	}
	p {
		font-size: 18px;
		max-width: fit-content;

	}
	#Events {
		background-color: var(--beige);
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 10px;
		grid-auto-flow: row;
		margin: 0;
		margin-top: 20px;
	}
	#Events h2 {
		grid-column: 1 / 3;
	}
	#Events blockquote {
		grid-column: 1 / 3;
		font-size: 20px;
		max-width: fit-content;
	}
	#SanDiego {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
	}
	#SantaClara {
		grid-row: 3 / 4;
		grid-column: 2 / 3;
	}
	#SantaBarbara {
		grid-row: 4 / 5;
		grid-column: 1 / 2;
	}
	#SanFrancisco {
		grid-row: 4 / 5;
		grid-column: 2 / 3;
	}
	.line {
		display: none;
	}
	aside {
		background-color: var(--white);
		padding: 10px 50px;
		height: 500px;
		margin-bottom: 20px;
	}
	aside form {
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-rows: auto;
		grid-auto-flow: row;
		grid-gap: 20px;
		grid-template-areas: 
			"fn fn"
			"ln ln"
			"em em"
			". sm";
	}
	aside input {
		width: 100%;
		margin: 10px;
	}
	aside label {
		align-self: center;
		justify-self: end;
		font-size: 1.7rem;
		max-width: fit-content;
	}
	.button {
		justify-self: stretch;
		grid-area: sm;
	}
	footer {
		background-color: var(--beige);
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 20px;
		padding-bottom: 50px;
		align-items: start;
	}
	footer h2 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		font-size: 3.1rem;
		max-width: fit-content;
		align-self: end;
		padding: 0;
		padding-top: 20px;
		margin-top: 20px;
	}
	footer small {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		font-size: 18px;
		max-width: fit-content;
		margin-top: 20px;
		line-break: strict;
		width: auto;
	}
	#SocialMedia {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		width: auto;
	}
	.svg-container {
		width: 50px;
	}
	table {
		grid-column: 2 / 3;
		grid-row-start: 1;
		grid-row-end: span 4;
		justify-self: start;
		margin-top: 65px;
	}
	section {
		grid-column: 1 / 3;
		grid-row: 4 / 5;
	}
	th {
		font-size: 18px;
		max-width: fit-content;
	}
	footer section a:hover {
		background-color: var(--white);
	}
}
/*END STYLES FOR MEDIUM SCREENS*/


/*BEGIN STYLES FOR LARGE SCREENS*/
@media screen and (min-width:1024px) {
	#menuToggle input {
		display: none;
	}
	header {
		background-color: var(--white);
	}
	#Claire {
		display: none;
	}
	h1 {
		float: left;
		font-size: 8.6vw;
		max-width: 70%;
		z-index: 3;
		margin-top: 20px;
	}
	#menu ul {
		list-style-type: none;
		margin-right: 0;
		padding: 0;
		overflow: hidden;
	}
	#menu a {
		color: var(--white);
		text-align: center;
		padding: 15px 44px;
		text-decoration: none;
		background-color: var(--apple);
		float: right;
		margin: 5px;
		margin-top: 10px;
		filter: drop-shadow(1px 1px 1px var(--black));
	}
	#menu a:link {
		color: var(--white);
	}
	#menu a:hover {
		background-color: var(--teal);
	}
	#menu a:visited {
		background-color: var(--apple);
	}
	#menu a:active {
		background-color: var(--dark-orange);
	}
	#menu a:first-child {
		display: none;
	}
	#About {
		display: block;
		width: 100vw;
		height: auto;
		float: right;
		margin-top: 80px;
	}
	header h2 {
		font-size: 4rem;
		max-width: fit-content;
	}
	h2 {
		display: block;
		font-size: 4rem;
		max-width: 90%;
		width: 100vw;
		margin: auto;
		padding-top: 30px;
	}
	blockquote {
		display: block;
		font-size: 22px;
		max-width: fit-content;
		width: 65%;
		margin: auto;
	}
	#Books {
		display: block;
		margin: 0;
	}
	#Books {
		background-color: var(--beige);
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-gap: 5px;
		grid-auto-flow: row;
		align-items: start;
	}
	#Books img {
		width: 20vw;
	}
	#Books h2 {
		grid-column: 1 / 5;
	}
	#Books blockquote {
		grid-column: 1 / 5;
		font-size: 22px;
		max-width: fit-content;
	}
	#Books h3 {
		font-size: 2rem;
		max-width: fit-content;
	}
	figcaption {
		font-size: 18px;
		max-width: fit-content;
		width: auto;
		line-height: 150%;
	}
	#Books p {
		font-size: 18px;
		max-width: fit-content;
	}
	#Events {
		background-color: var(--white);
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 10px;
		grid-auto-flow: row;
		margin: 0;
		margin-top: 20px;
	}
	#Events h2 {
		grid-column: 1 / 3;
	}
	#Events blockquote {
		grid-column: 1 / 3;
		font-size: 22px;
		max-width: fit-content;
	}
	#Events section {
		margin-left: 150px;
	}
	#SanDiego {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
	}
	#SantaClara {
		grid-row: 3 / 4;
		grid-column: 2 / 3;
	}
	#SantaBarbara {
		grid-row: 4 / 5;
		grid-column: 1 / 2;
	}
	#SanFrancisco {
		grid-row: 4 / 5;
		grid-column: 2 / 3;
	}
	.line {
		display: none;
	}
	button {
		background-color: var(--teal);
		color: var(--white);
		text-transform: uppercase;
		font-weight: 200;
	}
	aside {
		background-color: var(--beige);
	}
	form {
		display: grid;
		width: 100%;
		grid-template-columns: 30% 30% 30%;
		grid-template-rows: repeat(3, 33%);
		grid-auto-flow: row;
		padding: 50px;
		grid-gap: 10px;
	}
	input {
		width: auto;
		grid-row-start: 2;
	}
	.button {
		grid-row-start: 3;
		grid-column-end: -1;
		justify-self: stretch;
		margin: auto;
		width: 300px;
		align-self: center;
		margin-top: 5%;
	}
	form label {
		font-size: 1.5rem;
		max-width: 300px;
		align-self: end;
	}
	footer {
		display: grid;
		grid-template-columns: 40% 30% 20%;
		padding: 0;
		width: 100%;
	}
	footer h2 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		font-size: 2.8rem;
		max-width: fit-content;
		width: auto;
	}
	footer small {
		grid-column: 1 / 2;
		font-size: 18px;
		max-width: fit-content;
		padding: 0;
		white-space: normal;
		margin-left: 25px;
		padding: 10px;
		align-items: center;
	}
	#SocialMedia {
		grid-column: 1 / 2;
	}
	table {
		grid-column: 2 / 3;
		grid-row: 1 / span 3;
	}
	.svg-container {
		width: 60px;
	}
	table {
		grid-column-start: 2;
		grid-row: 1 / span 3;	
	}
	footer section {
		font-size: 18px;
		max-width: fit-content;
		width: auto;
		grid-column: 3 / 4;
		grid-row-start: 1;
		justify-self: center;
	}
	footer section a {
		width: auto;
		margin: auto;
		margin-left: 15%;
		justify-self: center;
		color: var(--black);
	}
	footer section a:visited {
		background-color: var(--white);
		color: var(--black);
	}
	footer section a:hover {
		color: var(--apple)
	}
}
/*END STYLES FOR LARGE SCREENS*/

